#chat-screen {
    background-color: rgb(198, 198, 198);
    height: 500vh;
}

#chat-screen .alt-header {
    top: 0px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

@keyframes fadeIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {

    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes fadeInRight {
    from {

    }
    to {
        transform: none;
        opacity: 1;
    }
}


.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    font-size: 10px;
    color: white;
    background-color: rgb(81, 0, 255);
    padding: 0px 15px;
    border-radius: 16px;
    margin-bottom: 25px;
    animation: fadeIn .5s linear;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    transform: translateX(-20px);
    opacity: 0;
    animation: fadeInLeft .5s linear forwards;
    animation-delay: .2s;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message__content {
    display: flex;
    align-items: flex-end;
}

.message__author {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-right: 5px;
}

.message__content span:last-child {
    font-size: 12px;
}


.message-row--own {
    transform: translateX(20px);
    opacity: 0;
    justify-content: flex-end;
    animation: fadeInRight .5s linear forwards;
    animation-delay: .3s;
}

.message-row--own .message__bubble {
    background-color: rgb(255, 140, 0);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    color: white;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row--own .message__content {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 0, 225);
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all .3s linear;
}

.reply .reply__column:first-child {
    width: 10%;
    color: blue;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    height: 40px;
    width: 100%;
    border: var(--main-border);
    border-radius: 40px;
    color: blue;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding-left: 20px;
    transition: all 0.3s linear;
}

.reply input::placeholder {
    color: blue;
    font-weight: 900;
}

.reply__column:last-child > i, .reply__column:last-child button {
    position: absolute;
    right: 0;
    top: 4px;
}

.reply__column:last-child > i {
    top: 7px;
    right: 50px;
    color: blue;
}

.reply__column button {
    color: white;
    background-color: blue;
    border: none;
    width: 37px;
    height: 37px;
    border-radius: 20px;
}

.reply__column button > i {
    padding-right: 2px;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}


.reply__column:first-child,
.fa-face-kiss-wink-heart, 
button {
    transition: opacity 0.3s linear;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-kiss-wink-heart, 
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 90vw;
    transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}